.container {
    position: relative;
    width: 20%;
  }
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }



  .c1c1 {
    position: relative;
    width: 20%;
  }
  .c1c2 {
    display: block;
    width: 100%;
    height: auto;
  }
  .c1c3 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
   background-color: blueviolet;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  .c1c1:hover .c1c3 {
    height: 100%;
  }
  .c1c4 {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }



  .d1d1 {
    position: relative;
    width: 20%;
  }
  .d1d2 {
    display: block;
    width: 100%;
    height: auto;
  }
  .d1d3 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: crimson;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  } 
  .d1d1:hover .d1d3 {
    width: 100%;
  }
  .d1d4 {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }






  .contai {
    position: relative;
    width: 20%;
  }
  .im {
    display: block;
    width: 100%;
    height: auto;
  }
  .over {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
  background-color: brown;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  .contai:hover .over {
    width: 100%;
    left: 0;
  }
  .t {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }